In [1]:
import pandas as pd

details = {
    'Name' : ['a','b','c','d','e'],
    'Occupation' : ['A1','A1','A1','B1','B1'],
    'Salary' : [20,30,40,27,23],
}
  

df = pd.DataFrame(details)
print(df)
occ_average_age = df.groupby('Occupation')['Salary'].mean()
print("Average salary per occupation : ")
print(occ_average_age)

  Name Occupation  Salary
0    a         A1      20
1    b         A1      30
2    c         A1      40
3    d         B1      27
4    e         B1      23
Average salary per occupation :
Occupation
A1    30.0
B1    25.0
Name: Salary, dtype: float64